/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #0a090c !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c1c1c2; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c1c1c2; background-color: rgba(123,172,199,0.4)}
.cm-s-nqqwal { background-color: #0a090c; color: #c1c1c2; }
.cm-s-nqqwal span.cm-builtin { color: #3D6F87; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #565669; }
.cm-s-nqqwal span.cm-keyword { color: #56758C; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #AD758A; }
.cm-s-nqqwal span.cm-def { color: #6B90A8; }
.cm-s-nqqwal span.cm-variable { color: #7BACC7; }
.cm-s-nqqwal span.cm-variable-2 { color: #6B90A8; }
.cm-s-nqqwal span.cm-string { color: #3D6F87; }
.cm-s-nqqwal span.cm-string-2 { color: #3D6F87; }
.cm-s-nqqwal span.cm-number { color: #6B90A8; }
.cm-s-nqqwal span.cm-tag { color: #56758C; }
.cm-s-nqqwal span.cm-property { color: #7BACC7; }
.cm-s-nqqwal span.cm-attribute { color: #7BACC7; }
.cm-s-nqqwal span.cm-qualifier { color: #AD758A; }
.cm-s-nqqwal span.cm-meta { color: #6B90A8; }
.cm-s-nqqwal span.cm-header { color: #56758C; }
.cm-s-nqqwal span.cm-operator { color: #56758C; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(107,144,168,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #56758C; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #0a090c); }
