#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0f1424",
    floating_border_color: "#5AA3D7",
    focused_border_color: "#c3c4c8",
    background_color: "#0f1424",
)