/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #110e22 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c3c2c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c3c2c7; background-color: rgba(159,141,174,0.4)}
.cm-s-nqqwal { background-color: #110e22; color: #c3c2c7; }
.cm-s-nqqwal span.cm-builtin { color: #737AC2; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #615e72; }
.cm-s-nqqwal span.cm-keyword { color: #82709B; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #8F749E; }
.cm-s-nqqwal span.cm-def { color: #A07CC3; }
.cm-s-nqqwal span.cm-variable { color: #9F8DAE; }
.cm-s-nqqwal span.cm-variable-2 { color: #A07CC3; }
.cm-s-nqqwal span.cm-string { color: #737AC2; }
.cm-s-nqqwal span.cm-string-2 { color: #737AC2; }
.cm-s-nqqwal span.cm-number { color: #A07CC3; }
.cm-s-nqqwal span.cm-tag { color: #82709B; }
.cm-s-nqqwal span.cm-property { color: #9F8DAE; }
.cm-s-nqqwal span.cm-attribute { color: #9F8DAE; }
.cm-s-nqqwal span.cm-qualifier { color: #8F749E; }
.cm-s-nqqwal span.cm-meta { color: #A07CC3; }
.cm-s-nqqwal span.cm-header { color: #82709B; }
.cm-s-nqqwal span.cm-operator { color: #82709B; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(160,124,195,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #82709B; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #110e22); }
