#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0F0F04",
    floating_border_color: "#A6915E",
    focused_border_color: "#c3c3c0",
    background_color: "#0F0F04",
)